asgiref==3.9.1
Babel==2.15.0
certifi==2025.8.3
charset-normalizer==3.4.3
colorama==0.4.6
Django==5.2.5
django-appointment==3.8.0
django-paypal==2.1
django-phonenumber-field==8.0.0
gunicorn==23.0.0
icalendar==6.3.1
idna==3.10
packaging==25.0
phonenumbers==8.13.42
pillow==10.4.0
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.4
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.5.0
